.copyright-2023-wrapped3 {
  position: absolute;
  width: 31.06%;
  top: 91.03%;
  left: 61.57%;
  line-height: 28px;
  text-align: right;
  display: inline-block;
}
.discord3,
.instagram3,
.social-media7,
.twitter3 {
  position: absolute;
  width: 22.83%;
  top: 69.57%;
  left: 0;
  line-height: 28px;
  display: inline-block;
}
.discord3,
.instagram3,
.social-media7 {
  width: 33.33%;
  top: 50%;
}
.discord3,
.social-media7 {
  width: 31.96%;
  top: 30.43%;
}
.social-media7 {
  width: 100%;
  top: 0;
  font-size: var(--heading-bold-h5-24-size);
  line-height: 32px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
}
.social-media6 {
  position: absolute;
  height: 58.97%;
  width: 17%;
  top: 0;
  right: 0;
  bottom: 41.03%;
  left: 83%;
}
.become-a-partner3 {
  position: absolute;
  width: 84.12%;
  top: 74.55%;
  left: 6.31%;
  line-height: 28px;
  display: inline-block;
}
.faq3 {
  position: relative;
  line-height: 28px;
}
.faq-wrapper1 {
  position: absolute;
  top: 118px;
  left: 62.24px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.collections3,
.token3 {
  position: absolute;
  width: 49.69%;
  top: 41.82%;
  left: 6.23%;
  line-height: 28px;
  display: inline-block;
}
.token3 {
  width: 27.67%;
  top: 25.45%;
}
.comunity8 {
  position: absolute;
  height: 70.51%;
  width: 12.34%;
  top: 0;
  right: 22.82%;
  bottom: 29.49%;
  left: 64.84%;
}
.about-us3,
.privacy-policy3,
.support3,
.terms-of-service3 {
  position: absolute;
  width: 29.01%;
  top: 74.55%;
  left: 0;
  line-height: 28px;
  display: inline-block;
}
.about-us3,
.privacy-policy3,
.terms-of-service3 {
  width: 99.83%;
  top: 58.18%;
  left: 0.17%;
}
.about-us3,
.terms-of-service3 {
  width: 75.13%;
  top: 41.82%;
}
.about-us3 {
  width: 33.59%;
  top: 25.45%;
  left: 0;
}
.about6,
.about7 {
  position: absolute;
  top: 0;
}
.about7 {
  width: 54.96%;
  left: 0;
  font-size: var(--heading-bold-h5-24-size);
  line-height: 32px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
  display: inline-block;
}
.about6 {
  height: 70.51%;
  width: 15.26%;
  right: 37.54%;
  bottom: 29.49%;
  left: 47.2%;
}
.wrap-your-btc3 {
  position: absolute;
  width: 95.26%;
  top: 72.55%;
  left: 4.74%;
  line-height: 28px;
  display: inline-block;
}
.logo-1-icon6 {
  position: absolute;
  height: 73.28%;
  width: 94.31%;
  top: 0;
  right: 5.69%;
  bottom: 26.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footer3,
.logo3 {
  position: absolute;
  height: 65.38%;
  width: 32.76%;
  top: 7.69%;
  right: 67.24%;
  bottom: 26.92%;
  left: 0;
}
.footer3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.group-footer {
  position: absolute;
  top: 5054px;
  left: 111px;
  width: 1204px;
  height: 312px;
  text-align: left;
  font-size: var(--paragraph-reguler-body-16-size);
  color: var(--text-color-white);
  font-family: var(--paragraph-bold-body-16);
}
.card18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color);
  box-shadow: 0 4px 4px rgba(65, 186, 254, 0.25) inset;
}
.large9 {
  flex: 1;
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.button35 {
  position: absolute;
  width: 100%;
  top: calc(50% + 236.43px);
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  height: 114px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.cameron-williamson30 {
  position: absolute;
  height: 100%;
  width: 83.84%;
  top: 0;
  left: 16.16%;
  line-height: 32px;
  display: inline-block;
}
.image-placeholder-icon63 {
  position: absolute;
  height: 100%;
  width: 12.2%;
  top: 0;
  right: 87.8%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile55 {
  position: absolute;
  height: 4.97%;
  width: 82%;
  top: 71.55%;
  right: 14%;
  bottom: 23.48%;
  left: 4%;
  font-size: var(--paragraph-bold-body-16-size);
}
.product-update-activity4 {
  position: absolute;
  height: 14.64%;
  width: 86%;
  top: 56.91%;
  left: 7%;
  font-size: var(--heading-bold-h5-24-size);
  line-height: 32px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
  background: linear-gradient(90deg, #41bafe, #a344ff 99.99%, #6654f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.image-placeholder42 {
  position: absolute;
  height: 50.83%;
  width: 92%;
  top: 3.31%;
  right: 4%;
  bottom: 45.86%;
  left: 4%;
  border-radius: var(--br-base);
  background-color: var(--text-color-in-field);
}
.nft-202,
.nft-212 {
  position: absolute;
  height: 49.75%;
  width: 31.87%;
  top: 54.52%;
  right: 1.83%;
  bottom: -4.27%;
  left: 66.29%;
}
.nft-202 {
  right: 34.98%;
  left: 33.15%;
}
.button38,
.nft-173 {
  position: absolute;
  left: 0;
}
.nft-173 {
  height: 49.75%;
  width: 31.87%;
  top: 54.52%;
  right: 68.13%;
  bottom: -4.27%;
}
.button38 {
  width: 100%;
  top: calc(50% + 236.35px);
  right: 0;
  border-radius: var(--br-5xs);
  height: 114px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.container29,
.nft-231 {
  position: absolute;
  height: 46.99%;
  width: 31.87%;
  top: 4.8%;
  right: 1.83%;
  bottom: 48.21%;
  left: 66.29%;
}
.container29 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color);
}
.cameron-williamson34,
.lorem-ipsum-dolor2 {
  position: absolute;
  height: 15.47%;
  width: 94.12%;
  top: 80.66%;
  left: 2.94%;
  line-height: 28px;
  display: inline-block;
}
.cameron-williamson34 {
  height: 100%;
  width: 82.3%;
  top: 0;
  left: 17.7%;
  line-height: 32px;
}
.image-placeholder-icon67 {
  position: absolute;
  height: 100%;
  width: 14.16%;
  top: 0;
  right: 85.84%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile59 {
  position: absolute;
  top: 594.58px;
  left: 24px;
  width: 226px;
  height: 36.03px;
  font-size: var(--paragraph-bold-body-16-size);
}
.product-update-personalized1 {
  font-weight: 800;
}
.product-update1 {
  font-family: var(--font-noto-sans-jp);
}
.product-update-personalized-container1 {
  position: absolute;
  height: 8.84%;
  width: 94.12%;
  top: 61.88%;
  left: 2.94%;
  font-size: var(--heading-bold-h5-24-size);
  line-height: 32px;
  background: linear-gradient(90deg, #41bafe, #a344ff 99.99%, #6654f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: var(--heading-bold-h3-48);
}
.image-placeholder46 {
  position: absolute;
  height: 56.35%;
  width: 96.08%;
  top: 2.21%;
  right: 1.96%;
  bottom: 41.44%;
  left: 1.96%;
  border-radius: var(--br-base);
  background-color: var(--text-color-in-field);
}
.article-11 {
  position: absolute;
  top: 83.32px;
  left: 0;
  box-shadow: 0 4px 4px rgba(65, 186, 254, 0.25) inset;
  width: 816px;
  height: 815.29px;
}
.large13 {
  position: relative;
  line-height: 32px;
}
.button39 {
  position: absolute;
  height: 3.69%;
  width: 18.17%;
  top: 0.17%;
  right: 0;
  bottom: 96.15%;
  left: 81.83%;
  border-radius: var(--br-5xs);
  background-color: var(--color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--paragraph-bold-body-16-size);
}
.popular-articles3 {
  position: absolute;
  height: 4.02%;
  width: 48.61%;
  top: 0;
  left: 0;
  font-size: var(--heading-bold-h3-48-size);
  line-height: 63.98px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
  display: inline-block;
  text-shadow: 0 4px 4px rgba(65, 186, 254, 0.25);
}
.popular-articles2 {
  position: absolute;
  top: 3198px;
  left: 104px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1255px;
  height: 1735px;
  font-size: var(--paragraph-reguler-body-16-size);
}
.large14 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 800;
  background: linear-gradient(90deg, #41bafe, #a344ff 99.99%, #6654f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button40 {
  position: absolute;
  height: 8.62%;
  width: 92%;
  top: 87.23%;
  right: 4%;
  bottom: 4.15%;
  left: 4%;
  border-radius: var(--br-5xs);
  background-color: var(--other-background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--paragraph-reguler-body-16-size);
  font-family: var(--heading-bold-h3-48);
}
.available9,
.of-109 {
  position: absolute;
  height: 42.59%;
  width: 83.61%;
  top: 57.41%;
  left: 0;
  line-height: 32px;
  display: inline-block;
}
.available9 {
  height: 43.57%;
  width: 100%;
  top: 0;
  line-height: 24px;
  font-family: var(--heading-reguler-h6-16);
  color: var(--text-color-white);
  text-align: left;
}
.end-in12 {
  position: absolute;
  height: 8.31%;
  width: 30.5%;
  top: 72.77%;
  right: 4%;
  bottom: 18.92%;
  left: 65.5%;
  text-align: right;
}
.eth40,
.price {
  position: absolute;
  height: 42.86%;
  width: 85.61%;
  top: 57.14%;
  left: 0;
  line-height: 32px;
  display: inline-block;
}
.price {
  width: 100%;
  top: 0;
  line-height: 24px;
  font-family: var(--heading-reguler-h6-16);
  color: var(--text-color-white);
}
.current-bid24 {
  position: absolute;
  height: 8.31%;
  width: 33%;
  top: 72.77%;
  right: 62.25%;
  bottom: 18.92%;
  left: 4.75%;
}
.cameron-williamson35 {
  position: absolute;
  height: 29.35%;
  width: 36.19%;
  top: 64.67%;
  left: 12.43%;
  line-height: 24px;
  display: inline-block;
}
.image-placeholder-icon68 {
  position: absolute;
  height: 39.13%;
  width: 8.84%;
  top: 60.87%;
  right: 91.16%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nakomotos-btc {
  position: absolute;
  height: 65.09%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--heading-bold-h4-32-size);
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
  display: inline-block;
}
.profile60 {
  position: absolute;
  height: 12.13%;
  width: 90.5%;
  top: 57.85%;
  right: 5.5%;
  bottom: 30.02%;
  left: 4%;
  font-size: var(--paragraph-bold-caption-14-size);
  color: var(--text-color-white);
}
.inscription36 {
  position: absolute;
  height: 4.75%;
  width: 47.5%;
  top: 0;
  left: 4.75%;
  font-size: var(--heading-bold-h5-24-size);
  line-height: 32px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
  background: linear-gradient(90deg, #41bafe, #a344ff 99.99%, #6654f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.image-placeholder-icon69 {
  position: absolute;
  height: 51.54%;
  width: 92%;
  top: 6.31%;
  right: 4%;
  bottom: 42.15%;
  left: 4%;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nft-101,
.nft-112,
.nft-121,
.nft-132 {
  position: absolute;
  top: 1380px;
  left: 832px;
  width: 400px;
  height: 650px;
}
.nft-101,
.nft-112,
.nft-132 {
  left: 416px;
}
.nft-101,
.nft-132 {
  left: 0;
}
.nft-132 {
  top: 690px;
  left: 832px;
}
.card22,
.nft-142,
.nft-152,
.nft-162,
.nft-174,
.nft-182 {
  position: absolute;
  top: 690px;
  left: 416px;
  width: 400px;
  height: 650px;
}
.card22,
.nft-152,
.nft-162,
.nft-174,
.nft-182 {
  left: 0;
}
.card22,
.nft-162,
.nft-174,
.nft-182 {
  top: 0;
  left: 832px;
}
.card22,
.nft-162,
.nft-174 {
  left: 416px;
}
.card22,
.nft-162 {
  left: 0;
}
.card22 {
  top: 120px;
  width: 1232px;
  height: 2030px;
  color: var(--bright-blue);
}
.button49 {
  position: absolute;
  top: 0;
  left: 1091px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-50);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.new-collections {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--heading-bold-h3-48-size);
  line-height: 63.98px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
}
.new-cryptoart {
  position: absolute;
  top: 968px;
  left: 104px;
  width: 1244px;
  height: 2150px;
}
.bessie-cooper1,
.bessiecr1 {
  position: absolute;
  left: 117px;
}
.bessiecr1 {
  top: 40px;
  font-size: var(--paragraph-bold-caption-14-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-bold-body-16);
  color: var(--text-color-in-field);
}
.bessie-cooper1 {
  top: 0;
  line-height: 32px;
  font-weight: 800;
}
.image-placeholder-icon86 {
  position: absolute;
  top: 4px;
  left: 45px;
  width: 56px;
  height: 56px;
}
.div37 {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 32px;
  font-weight: 800;
}
.artist-71,
.artist-81,
.artist-91 {
  position: absolute;
  top: 312px;
  left: 912px;
  width: 361px;
  height: 64px;
}
.artist-71,
.artist-81 {
  top: 216px;
  width: 328px;
}
.artist-71 {
  top: 120px;
  left: 913px;
  width: 377px;
}
.artist-41,
.artist-51,
.artist-61 {
  position: absolute;
  top: 312px;
  left: 446px;
  width: 478px;
  height: 64px;
}
.artist-41,
.artist-51 {
  top: 216px;
  width: 346px;
}
.artist-41 {
  top: 120px;
  width: 332px;
}
.artist-11,
.artist-21,
.artist-31 {
  position: absolute;
  top: 312px;
  left: 0;
  width: 441px;
  height: 64px;
}
.artist-11,
.artist-21 {
  top: 216px;
  width: 407px;
}
.artist-11 {
  top: 120px;
  width: 356px;
}
.new-artist1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--heading-bold-h3-48-size);
  line-height: 63.98px;
  font-weight: 800;
}
.new-artist {
  position: absolute;
  top: 432px;
  left: 117px;
  width: 1290px;
  height: 376px;
  font-size: var(--heading-bold-h5-24-size);
  font-family: var(--heading-bold-h3-48);
}
.button50,
.text-field {
  position: absolute;
  top: 0;
  border-radius: var(--br-5xs);
}
.button50 {
  left: 1076px;
  background-color: var(--primary-50);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field {
  left: 0;
  background-color: var(--other-navy);
  border: 1px solid var(--primary-70);
  box-sizing: border-box;
  width: 1068px;
  height: 56px;
}
.search-crypto-art {
  position: absolute;
  top: 15px;
  left: 33.72px;
  font-size: var(--paragraph-reguler-body-16-size);
  line-height: 28px;
  display: inline-block;
  width: 823.92px;
}
.explore-now1,
.form1 {
  position: absolute;
  left: 0;
}
.form1 {
  top: 120px;
  width: 1248px;
  height: 56px;
}
.explore-now1 {
  top: 0;
  font-size: var(--heading-bold-h3-48-size);
  line-height: 63.98px;
  font-weight: 800;
  font-family: var(--heading-bold-h3-48);
  display: inline-block;
  width: 794px;
}
.container30,
.explore-now {
  position: absolute;
  top: 176px;
  left: 104px;
  width: 1248px;
  height: 176px;
}
.container30 {
  top: 0;
  left: 0;
  background-color: var(--text-color-white);
  width: 1440px;
  height: 120px;
  opacity: 0;
}
.button51 {
  position: absolute;
  top: 32px;
  left: 1152px;
  border-radius: var(--br-5xs);
  background: linear-gradient(90deg, #41bafe, #a344ff 99.99%, #6654f1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.community4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.arrow-chevron-down3 {
  position: absolute;
  top: 2px;
  left: 91px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.comunity10 {
  position: absolute;
  top: 2px;
  left: 563px;
  width: 115px;
  height: 28px;
}
.artist-collectors3,
.exhibition3,
.explore7 {
  position: absolute;
  top: 2px;
  left: 387px;
  line-height: 28px;
}
.exhibition3,
.explore7 {
  left: 274px;
}
.explore7 {
  top: 0;
  left: 175px;
  font-size: var(--paragraph-bold-body-16-size);
  line-height: 32px;
  color: var(--text-color-white);
}
.home4,
.market3 {
  position: absolute;
  top: 2px;
  left: 84px;
  line-height: 28px;
}
.home4 {
  left: 0;
}
.logo-1-icon7,
.menu3 {
  position: absolute;
  top: 44px;
}
.menu3 {
  left: 434px;
  width: 678px;
  height: 32px;
  font-size: var(--paragraph-reguler-body-16-size);
  color: var(--text-color-in-field);
}
.logo-1-icon7 {
  width: 17.92%;
  right: 78.19%;
  left: 3.89%;
  max-width: 100%;
  overflow: hidden;
  height: 56px;
  object-fit: cover;
}
.navbar4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 120px;
}
.explore6 {
  position: relative;
  background-color: var(--other-background);
  width: 100%;
  height: 5446px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-bold-body-16-size);
  color: var(--text-color-white);
  font-family: var(--paragraph-bold-body-16);
}
