@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Good Times";
  src: url("/public/good timing bd.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Good Times";
  src: url("/public/good timing bd.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Good Timing";
  src: url("/public/good timing bd.otf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph-bold-body-16: Roboto;
  --heading-bold-h3-48: "Good Times";
  --font-poppins: Poppins;
  --font-roboto-flex: "Roboto Flex";
  --heading-reguler-h6-16: "Good Timing";
  --font-noto-sans-jp: "Noto Sans JP";
  --headlines-headline-bold-normal: "DM Sans";

  /* font sizes */
  --paragraph-reguler-body-16-size: 16px;
  --paragraph-bold-body-16-size: 20px;
  --heading-bold-h4-32-size: 32px;
  --paragraph-bold-label-12-size: 12px;
  --heading-bold-h5-24-size: 24px;
  --paragraph-bold-caption-14-size: 14px;
  --font-size-2xl-4: 21.4px;
  --font-size-mini: 15px;
  --font-size-sm-9: 13.9px;
  --font-size-4xl-6: 23.6px;
  --heading-bold-h3-48-size: 48px;
  --heading-bold-h2-64-size: 64px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.1);
  --color-gray-200: rgba(255, 255, 255, 0.33);
  --other-background: rgba(6, 19, 45, 0.25);
  --text-color-in-field: #ccc;
  --text-color-white: #fff;
  --bright-blue: #41bafe;
  --color-deepskyblue-100: rgba(65, 186, 254, 0.25);
  --color-deepskyblue-200: rgba(65, 186, 254, 0.75);
  --color: rgba(65, 186, 254, 0.1);
  --primary-100: #a344ff;
  --primary-70: rgba(163, 68, 255, 0.7);
  --primary-50: rgba(163, 68, 255, 0.5);
  --other-navy: #220a56;
  --text-color-navy: #0a0b56;
  --color-lime: #24ff00;
  --color-lavender: #d2e7ff;
  --primary-10: rgba(235, 243, 255, 0.25);
  --color-black: #000;

  /* Gaps */
  --gap-2xl-4: 21.4px;
  --gap-23xl-8: 42.8px;
  --gap-7xs-4: 5.4px;
  --gap-3xs: 10px;
  --gap-base: 16px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-21xl: 40px;
  --padding-3xs: 10px;
  --padding-2xl-4: 21.4px;
  --padding-base-1: 16.1px;
  --padding-13xl-1: 32.1px;
  --padding-9xs-2: 3.2px;
  --padding-5xs: 8px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-base: 16px;
  --br-base-1: 16.1px;
  --br-2xl-4: 21.4px;
  --br-45xl-2: 64.2px;
  --br-88xl-1: 107.1px;
  --br-33xl-5: 52.5px;
  --br-2xs-7: 10.7px;
  --br-6xs: 7px;
}
